<ifModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !=/instagram
    RewriteCond %{REQUEST_URI} !=/tiktok
    RewriteCond %{REQUEST_URI} !=/youtube
    RewriteRule ^/?.+$ / [L,R]
</ifModule>

Redirect 301 /instagram https://instagram.com/viajarcomale
Redirect 301 /youtube https://youtube.com/c/alefesouza
Redirect 301 /tiktok https://tiktok.com/@viajarcomale
