.footer {
  background: linear-gradient(to right, rgba(248, 249, 250, .0), rgba(248, 249, 250, .15), rgba(248, 249, 250, .0));
  padding-bottom: 80px;
  text-align: center;
  padding-top: 15px;

} 

.footer ul {
  padding: 0;
}

.footer ul li {
  float: left;
  margin-left: 20px;
}

.footer ul li:first-child {
  list-style-type: none;
  margin-left: 0;
}
