.gallery_item img, .gallery_item video {
  max-width: 100%;
}

.gallery_item {
  text-align: center;
  position: relative;
}

.is_gallery::after {
  content: url('/images/gallery.svg');
  position: absolute;
  top: 10px;
  right: 10px;
  pointer-events: none;
}

.external_links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 8px;
}

.external_links a {
  display: flex;
}
