.gallery_item img, .gallery_item video {
  max-width: 100%;
}

@media(min-width: 424px) {
  .gallery_item.portrait img, .gallery_item.portrait video {
    max-width: 400px;
  }
}

.gallery_item {
  text-align: center;
  position: relative;
}

.gallery_item a {
  position: relative;
}

.is_gallery::after {
  content: url('/images/gallery.svg');
  position: absolute;
  top: 10px;
  right: 10px;
  pointer-events: none;
}

.external_links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 8px;
}

.external_links a {
  display: flex;
}

.location a {
  margin-top: 4px;
  color: #2096cc;
}

.location a:hover {
  text-decoration: underline;
}

.video_thumbnail {
  position: relative;
}

.play_button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90px;
  height: 90px;
  opacity: 0.7;
  transform: translate(-50%, -50%);
}
